<tr>
    <td>{{ pessoa.nome }}</td>
    <td>{{ pessoa.cpf }}</td>
    <td>{{ pessoa.classe }}</td>
    <td>{{ pessoa.email }}</td>
    <td>{{ pessoa.telefone }}</td>
    <td>{{ pessoa.tipo }}</td>
    <td class="text-center">
        <div class="d-flex gap-2 justify-content-center">
            <a href="{{ url_for('editar', pessoa_id=pessoa.id) }}" class="btn btn-warning btn-sm">Editar</a>
            <a href="{{ url_for('excluir', pessoa_id=pessoa.id) }}" class="btn btn-danger btn-sm">Excluir</a>
        </div>
    </td>
</tr>
